* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    position: relative;
    min-height: 100%;
}

:root{
    --white:#FFFFFF;
    --black: #101213;
    --green: #00EC5B;
}

.center{
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media(min-width: 736px){
    header{
        align-items: center; 
        justify-content: center;
    }
}

@media(max-width: 735px){
    h1{
        font-size: 3rem !important;
        width:100%;
    }

    header .row{
        text-align: center;
    }

    .contact-form{

        padding-bottom: 5rem;
    }

    .contact-form-title, .contact-form-links{
        margin: 0 auto;
    }

    form{
        margin-top: 3rem;
    }

    .contact-form .green-Button{
        width:90%;
        margin: 0 auto
        
    }

    body > footer > div > div > div:nth-child(1) > p{
        text-align: center;
    }

    #site-author{
        justify-content: center;
    }

    .collage-section .container .row{
        width: fit-content;
    }

    .collage-section .right-side-img{
        max-height: 80vh;
    }
}

@media(min-width: 375px){
    #center-can{
        display: none !important;
    }

    .green-section-text .row{
        display: block;
    }

    .green-section-text{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media(max-width: 375px){

    header .container .row{
        display: flex;
        flex-flow: column-reverse; 
        margin: 2rem auto;
    }

    h1{
        font-size: 2rem !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body > header > div > div > div.col-sm-12.col-md-5 > img{
        max-width: 212px;
    }

    header .green-Button{
        width: 100%
    }

    .first-div-first-can img{
        display:none;
    }

    .green-section-text{
        position:relative;
    }
    
    .green-section-text{
        position:absolute;
    }

    .collage-section.py-5 > div > div > div:nth-child(1) > img{
        width: 100%;
    }

    body > section.collage-section.py-5 > div > div > div:nth-child(2) > div.quote-area {
        height: -webkit-fill-available;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

button, .social, .copyright, .projected-by{
    font: 400 1rem "Inter", sans-serif;
}

h1, h2, h3, p, text, .card-title, .quote{
    font: 400 1rem "Roboto", sans-serif; /* Fonte ainda não encontrada */
}



/* Header */

header{
    background-image: url('../assets/img/background-home.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white);
    min-height: 100vh;
    width: 100%;
}


.fa-facebook-square, .fa-instagram{
    color: var(--white)
}

h1{
    font-size: 4rem;
    font-weight: 700;
}

header .row{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .masthead{
    display: flex;
    align-items: center;
    justify-content: center;
}


.green-Button {
    color: var(--black);
    border-radius: 50px;
    background: var(--green);
    padding: 1rem;
    font-size: 0.875rem;
}

#navbarResponsive > ul{
    flex-direction: row;
    gap: 1rem;
}



/* Products section */

.products-section{
    background: var(--white);
    height: 100%;
    width: 100%;
}
.products-section-text h3, .products-section-text p{
    margin: 0 auto;
    width: 50%;
}

.products-section-title, .green-section-title{
    font-weight: 800;
    font-size: 1.5rem;
}

.products-section-description, .card-text{
    font-weight: 400;
    font-size: 1rem;
}

.card{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    width: 22.5rem;
    height: 27rem;
}

.card-title{
    font-weight: 700;
    font-size: 1.25rem;
}

.card .img-bottle{
    max-width: 13.063rem;
}

.card .img-can{
    max-width: 8.813rem;
}

.products-section .row{
    gap: 3rem;
}

.card button{
    transform: translateY(50%);
}



/* Collage section */

.collage-section{
    background: var(--white);
    height: fit-content;
    width: 100%;
}
/* 
.collage-section .row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}
*/
.collage-section .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding: 0;
}

.collage-section .column img {
    vertical-align: middle;
    width: 100%;
} 


.collage-section .quote-area{
    background-color: #1B1F1C;
    height: 50%;
    width: 100%;
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
}

.collage-section .quote-area .quote{
    font-weight: 400;
    font-size: 1.125rem;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.collage-section .quote-area .author{
    font-weight: 400;
    font-size: 8.875rem;
    font: 400 0.875rem 'Lexend Deca', sans-serif;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.right-side-img p{
    font-weight: 700;
    font-size: 2rem;
    color: var(--white)
}

.collage-section .right-side-img{
    height: 50%;
    width: 100%;
    background: linear-gradient(rgba(27, 31, 28, 0.5), rgba(27, 31, 28, 0.5)), url('../assets/img/right-collage.png');
    display: flex;
}


/* Green section */

.green-section{
    height: 50vh;
    width: 100%;
    background-color: var(--green);
    overflow: hidden;  
}

.green-section .row h3, .green-section .row button{
    margin: 0 auto;
}


.black-Button {
    color: var(--white);
    border-radius: 50px;
    background: var(--black);
    padding: 1rem;
    font-size: 0.875rem;
}

.first-div-first-can{
    position:relative;
}

.second-div-first-can{
    position:absolute;
}

.first-div-first-can #most-left-can { 
    margin-left: 60%;
    margin-top: -15%;
    filter: blur(2px);
    transform: rotate(15deg);
    max-width: 6.25rem;
    height: auto;
}

.first-div-first-can #left-can { 
    margin-left: 20%;
    margin-top: -10%;
    transform: rotate(-15deg);
    max-width: 12rem;
    height: auto;
}

.first-div-first-can #right-can { 
    margin-left: 205%;
    margin-top: -65%;
    transform: rotate(15deg);
    max-width: 17.875rem;
    height: auto;
}

.first-center-can-div{
    position:relative;
}

.second-center-can-div{
    position:absolute;
}

.first-center-can-div   #center-can { 
    margin-top: -56%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Contact section */

.contact-form{
    min-height: 70vh;
    width: 100%;
    background-color: #1B1F1C;
}

.contact-form-title{
    font-weight: 700;
    font-size: 2.5rem;
}

.contact-form-title, .contact-form-links{
    color: var(--white);
}

.social-media{
    font: 400 0.75rem "Inter", sans-serif;
}

.contact-form label{
    font: 400 0.75rem "Roboto", sans-serif;
    text-transform: uppercase;
    color: var(--white);
    opacity: 0.5;
}

.form-control{
    border-radius: 0;
    background: #1B1F1C;
    color: var(--white);
    padding-left: 0px;
    
    border-left: 0;
    border-bottom: 0;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}


input::placeholder {
    font: 400 1rem "Inter", sans-serif;
}

.form-control:focus{
    color: var(--white);
    border-top: 1px solid var(--green);
    border-right: 1px solid var(--green);
    background: rgba(255, 255, 255, 0.2);
    padding-left: 1rem;
}

#subject {
    color: gray;
}
  
#subject option {
    color: black;
}

/* Footer */

footer{
    position: absolute;
    min-height:10vh;
    width: 100%;
    background-color: #1B1F1C;
    padding-bottom: 0;
    margin-bottom: 0;
    color: var(--white);
    
}

footer > div > div > div:nth-child(1) > p{
    opacity: 0.5;
}

.footer .row{
    width: 100%
}

#copyright{
    font: 400 0.75rem "Inter", sans-serif;
}

#site-author p{
    font: 400 0.563rem "Inter", sans-serif;
}

#site-author img{
    width: 7.5rem;
    height: auto
}

#site-author{
    align-items: center;
}

